<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group" v-if="!userNameError">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          required
          v-model="user.userName"
          name="userName"
        />
      </div>
      <div class="form-group" v-else>
        <label for="username" class="text-danger">Username</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="userName"
          required
          v-model="user.userName"
          name="userName"
        />
        <label for="usernameError" class="text-danger">{{ userNameErrorMessage }}</label>
      </div>

      <div class="form-group" v-if="!passwordError">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          v-model="user.password"
          name="password"
        />
      </div>
      <div class="form-group" v-else>
        <label for="password" class="text-danger">Password</label>
        <input
          type="password"
          class="form-control is-invalid"
          id="password"
          required
          v-model="user.password"
          name="password"
        />
        <label for="passwordError" class="text-danger">{{ passwordErrorMessage }}</label>
      </div>
      <br />
      <div class="form-group">
        <div v-if="error" class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      </div>

      <div class="form-group">
        <router-link to="/register" class="nav-link"
          >Don't have an account? Register here</router-link
        >
        <button @click="loginUser" class="btn btn-success">Login</button>
      </div>
    </div>

    <div v-else>
      <h4>You have successfully logged in!</h4>
    </div>
  </div>
</template>

<script>
import UserDataServices from '../services/UserDataServices.js';

export default {
  name: 'login-user',
  data() {
    return {
      user: {
        userName: '',
        password: '',
      },
      userNameError: false,
      passwordError: false,
      userNameErrorMessage: '',
      passwordErrorMessage: '',
      error: false,
      message: '',
      submitted: false,
    };
  },
  methods: {
    loginUser() {
      var data = {
        userName: this.user.userName,
        password: this.user.password,
      };
      this.userNameError = false;
      this.passwordError = false;
      this.userNameErrorMessage = '';
      this.passwordErrorMessage = '';
      this.error = false;
      this.message = '';
      UserDataServices.login(data)
        .then((response) => {
          sessionStorage.setItem('token', response.data.token);
          this.$router.push('users');
          this.submitted = true;
        })
        .catch((e) => {
          if (!e.response.data.errors) {
            this.userNameError = false;
            this.passwordError = false;
            this.userNameErrorMessage = '';
            this.passwordErrorMessage = '';
            this.message = e.response.data.message;
            this.error = true;
          } else {
            const errorField = Object.keys(e.response.data.errors);

            this.error = false;
            this.message = '';
            if (errorField.includes('userName')) {
              this.userNameError = errorField.includes('userName');
              this.userNameErrorMessage = e.response.data.errors.userName;
            }
            if (errorField.includes('password')) {
              this.passwordError = errorField.includes('password');
              this.passwordErrorMessage = e.response.data.errors.password;
            }
          }
        });
    },

    newUser() {
      this.submitted = false;
      this.user = {};
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
