<template>
  <div class="submit-form">
    <div v-if="!submitted">
      <div class="form-group" v-if="!userNameError">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          required
          v-model="user.userName"
          name="userName"
        />
      </div>
      <div class="form-group" v-else>
        <label for="username" class="text-danger">Username</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="userName"
          required
          v-model="user.userName"
          name="userName"
        />
        <label for="usernameError" class="text-danger">{{ userNameErrorMessage }}</label>
      </div>

      <div class="form-group" v-if="!passwordError">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          v-model="user.password"
          name="password"
        />
      </div>
      <div class="form-group" v-else>
        <label for="password" class="text-danger">Password</label>
        <input
          type="password"
          class="form-control is-invalid"
          id="password"
          required
          v-model="user.password"
          name="password"
        />
        <label for="passwordError" class="text-danger">{{ passwordErrorMessage }}</label>
      </div>

      <div class="form-group" v-if="!firstNameError">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          required
          v-model="user.firstName"
          name="firstName"
        />
      </div>
      <div class="form-group" v-else>
        <label for="firstName" class="text-danger">First Name</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="firstName"
          required
          v-model="user.firstName"
          name="firstName"
        />
        <label for="firstNameError" class="text-danger">{{ firstNameErrorMessage }}</label>
      </div>

      <div class="form-group" v-if="!lastNameError">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          required
          v-model="user.lastName"
          name="lastName"
        />
      </div>
      <div class="form-group" v-else>
        <label for="lastName" class="text-danger">Last Name</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="lastName"
          required
          v-model="user.lastName"
          name="lastName"
        />
        <label for="lastNameError" class="text-danger">{{ lastNameErrorMessage }}</label>
      </div>
      <div class="form-group" v-if="!dateOfBirthError">
        <label for="dateOfBirth">Date of Birth</label>
        <input
          type="text"
          class="form-control"
          id="dateOfBirth"
          required
          v-model="user.dateOfBirth"
          name="dateOfBirth"
        />
      </div>
      <div class="form-group" v-else>
        <label for="dateOfBirth" class="text-danger">Date of Birth</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="dateOfBirth"
          required
          v-model="user.dateOfBirth"
          name="dateOfBirth"
        />
        <label for="dateOfBirthError" class="text-danger">{{ dateOfBirthErrorMessage }}</label>
      </div>

      <div class="form-group" v-if="!phoneNumberError">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          required
          v-model="user.phoneNumber"
          name="phoneNumber"
        />
      </div>
      <div class="form-group" v-else>
        <label for="phoneNumber" class="text-danger">Phone Number</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="phoneNumber"
          required
          v-model="user.phoneNumber"
          name="phoneNumber"
        />
        <label for="phoneNumberError" class="text-danger">{{ phoneNumberErrorMessage }}</label>
      </div>

      <div class="form-group" v-if="!addressError">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          required
          v-model="user.address"
          name="address"
        />
      </div>
      <div class="form-group" v-else>
        <label for="address" class="text-danger">Address</label>
        <input
          type="text"
          class="form-control is-invalid"
          id="address"
          required
          v-model="user.address"
          name="address"
        />
        <label for="addressError" class="text-danger">{{ addressErrorMessage }}</label>
      </div>
      <br />
      <div class="form-group" v-if="error">
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      </div>
      <div class="form-group">
        <router-link to="/" class="nav-link">Already have an account? Login here</router-link>
        <button @click="saveUser" class="btn btn-success">Register</button>
      </div>
    </div>

    <div v-else>
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" @click="newUser">Add</button>
    </div>
  </div>
</template>

<script>
import UserDataServices from '../services/UserDataServices.js';

export default {
  name: 'add-user',
  data() {
    return {
      user: {
        userName: '',
        password: '',
        firstName: '',
        lastName: '',
        dateOfBirth: '',
        phoneNumber: '',
        address: '',
      },
      userNameError: false,
      passwordError: false,
      firstNameError: false,
      lastNameError: false,
      dateOfBirthError: false,
      phoneNumberError: false,
      addressError: false,
      userNameErrorMessage: '',
      passwordErrorMessage: '',
      firstNameErrorMessage: '',
      lastNameErrorMessage: '',
      dateOfBirthErrorMessage: '',
      phoneNumberErrorMessage: '',
      addressErrorMessage: '',
      error: false,
      message: '',
      submitted: false,
    };
  },
  methods: {
    saveUser() {
      var data = {
        userName: this.user.userName,
        password: this.user.password,
        firstName: this.user.firstName,
        lastName: this.user.lastName,
        dateOfBirth: this.user.dateOfBirth,
        phoneNumber: this.user.phoneNumber,
        address: this.user.address,
      };
      this.userNameError = false;
      this.passwordError = false;
      this.firstNameError = false;
      this.lastNameError = false;
      this.dateOfBirthError = false;
      this.phoneNumberError = false;
      this.addressError = false;
      this.userNameErrorMessage = '';
      this.passwordErrorMessage = '';
      this.firstNameErrorMessage = '';
      this.lastNameErrorMessage = '';
      this.dateOfBirthErrorMessage = '';
      this.phoneNumberErrorMessage = '';
      this.addressErrorMessage = '';
      this.error = false;
      this.message = '';
      UserDataServices.register(data)
        .then(() => {
          this.$router.push('/');
          this.submitted = true;
        })
        .catch((e) => {
          console.log(e.response);
          if (!e.response.data.errors) {
            console.log('here');
            this.message = e.response.data.message;
            this.error = true;
          } else {
            const errorField = Object.keys(e.response.data.errors);
            this.message = '';
            if (errorField.includes('userName')) {
              this.userNameError = errorField.includes('userName');
              this.userNameErrorMessage = e.response.data.errors.userName;
            }
            if (errorField.includes('password')) {
              this.passwordError = errorField.includes('password');
              this.passwordErrorMessage = e.response.data.errors.password;
            }
            if (errorField.includes('firstName')) {
              this.firstNameError = errorField.includes('firstName');
              this.firstNameErrorMessage = e.response.data.errors.firstName;
            }
            if (errorField.includes('lastName')) {
              this.lastNameError = errorField.includes('lastName');
              this.lastNameErrorMessage = e.response.data.errors.lastName;
            }
            if (errorField.includes('dateOfBirth')) {
              this.dateOfBirthError = errorField.includes('dateOfBirth');
              this.dateOfBirthErrorMessage = e.response.data.errors.dateOfBirth;
            }
            if (errorField.includes('phoneNumber')) {
              this.phoneNumberError = errorField.includes('phoneNumber');
              this.phoneNumberErrorMessage = e.response.data.errors.phoneNumber;
            }
            if (errorField.includes('address')) {
              this.addressError = errorField.includes('address');
              this.addressErrorMessage = e.response.data.errors.address;
            }
          }
        });
    },

    newUser() {
      this.submitted = false;
      this.user = {};
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
