<template>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by First Name"
          v-model="firstName"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" @click="searchFirstName">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Users List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          :class="{ active: index == currentIndex }"
          v-for="(user, index) in users"
          :key="index"
          @click="setActiveUser(user, index)"
        >
          {{ user.firstName }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div v-if="currentUser">
        <h4>User</h4>
        <div>
          <label><strong>Username:</strong></label> {{ currentUser.username }}
        </div>
        <div>
          <label><strong>First Name:</strong></label> {{ currentUser.firstName }}
        </div>
        <div>
          <label><strong>Last Name :</strong></label> {{ currentUser.lastName }}
        </div>
        <div>
          <label><strong>Date of Birth:</strong></label>
          {{ currentUser.dateOfBirth }}
        </div>
        <div>
          <label><strong>Phone Number:</strong></label>
          {{ currentUser.phoneNumber }}
        </div>
        <div>
          <label><strong>Address:</strong></label>
          {{ currentUser.address }}
        </div>

        <router-link :to="'/users/' + currentUser.id" class="badge badge-warning">Edit</router-link>
      </div>
      <div v-else>
        <br />
        <p>Please click on a User...</p>
      </div>
    </div>
  </div>
</template>

<script>
import UserDataServices from '../services/UserDataServices.js';

export default {
  name: 'users-list',
  data() {
    return {
      users: [],
      currentUser: null,
      currentIndex: -1,
    };
  },
  methods: {
    retrieveUsers() {
      UserDataServices.getAll()
        .then((response) => {
          this.users = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveUsers();
      this.currentUser = null;
      this.currentIndex = -1;
    },

    setActiveUser(user, index) {
      this.currentUser = user;
      this.currentIndex = user ? index : -1;
    },

    searchFirstName() {
      UserDataServices.findByFirstName(this.firstName)
        .then((response) => {
          this.users = response.data;
          this.setActiveUser(null);
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveUsers();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
