<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">TrooperTest-Vue</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/users" class="nav-link" v-if="loggedIn">Users</router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" v-if="loggedIn" @click="logout">Logout</a>
        </li>
      </div>
    </nav>
    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    let token = sessionStorage.getItem('token');

    return {
      loggedIn: token != undefined ? true : false,
    };
  },
  methods: {
    logout() {
      sessionStorage.removeItem('token');
      this.$router.push('/');
      this.$forceUpdate();
    },
  },
};
</script>
